.singlePost-heading {
  font-size: 4rem;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.single-blog {
  padding-bottom: 30px;
}

.post-topbar span {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: #888;
  margin-top: 15px;
  margin-bottom: 30px;
}

.post-topbar {
  padding-block: 20px;
}

.singlePost-img {
  height: 400px;
}

.singlePost-description {
  padding-block: 30px;
  font-size: 1.8rem;
}

.singlePost-description p {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 400;
}

.like-blog span {
  font-size: 2rem;
  height: 20px;
}

.like-us {
  display: flex;
  gap: 3px;
  align-items: center;
  cursor: pointer;
}

.comments h2 {
  font-size: 1.8rem;
}

.commentator {
  text-transform: capitalize;
  margin-bottom: 0;
  font-size: 1.6rem;
}

.no-comment {
  font-size: 1.4rem;
  border: 1px solid #ccc;
  padding: 8px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 10px;
}

.actual-comment {
  font-size: 1.9rem;
}

textarea {
  resize: none;
}

.post-comment {
  width: min-content;
  margin-top: 20px;
}

.post-comment input {
  border: none;
  border-bottom: 1px solid #888;
  width: 400px;
  outline: none;
  padding: 5px 10px;
}

.default {
  color: #ccc;
}

.green {
  color: blue;
}

.like-blog {
  display: flex;
  gap: 30px;
}

.comment-wrapper {
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}

.comment-box {
  display: flex;
  gap: 20px;
  align-items: center;
}

.comment-box h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

.comment-box p {
  font-size: 1.4rem;
  font-weight: 300;
}

.comment-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid green;
}

.comment-text {
  display: flex;
  flex-direction: column;
  line-height: 1.15;
}

.like-icon {
  font-size: 1.8rem;
  cursor: pointer;
}

.like-icon.active {
  color: blue;
}

.like {
  font-size: 1.8rem;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  width: min-content;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  align-self: flex-start;
}

.like span {
  height: 24px;
}

.post-comment {
  display: flex;
  gap: 50px;
}

.comment-footer {
  display: flex;
  align-items: center;
  gap: 30px;
}

.comment-footer span {
  font-size: 1.8rem;
  cursor: pointer;
}
