.container {
  max-width: 700px;
  margin: auto;
}

header {
  padding-block: 10px;
}

.header-logo {
  font-weight: 500;
}

header .container {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 300;
}

ul {
  list-style: none;
}

header .container ul li {
  cursor: pointer;
}

header .container ul {
  display: flex;
  gap: 20px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
