.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.statusbar {
  display: block;
  color: white;
  padding: 5px 20px;
  font-size: 14px;
}
.error_global {
  background-color: red;
}

.success_global {
  background-color: #4bb543;
}

.container {
  max-width: 700px;
  margin: auto;
}
