@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500&family=Merriweather:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind Madurai", sans-serif;
  
}



html {
  font-size: 10px;
}

:root {
  --ff-1 : 'Hind Madurai', sans-serif ;
  --ff-2 : font-family: 'Merriweather', serif;
}

